:root {
  --width: 200px;
  --height: 50px;
}

@font-face {
  font-family: "Verdana";
  src:
    url('../fonts/verdana.woff2') format('woff2'),
    url('../fonts/verdana.woff') format('woff'),
    url('../fonts/verdana.ttf') format('truetype');
  font-display: swap;
}
}

@media only screen and (min-height: 600px) {
  div {
    margin: auto;

    &::after {
      content: "";
      position: absolute;
    }
  }

  madeup {
    madeup: madeup;
  }
}

.my-class {
  &[id="foo"] {
    width: 100%;
    overflow: hidden;
    box-shadow: 2px 2px 5px #0009, 5px 5px 10px #000c;
    border-radius: 11px;
  }

  > .my-sub-class {
    width: 100%;
  }

  > .my-sub-class {
    min-width: var(--width);
    background: #dee7f7 url("../images/background.png") no-repeat;
    background-position: right bottom;
    grid-template-rows: var(--height) 1fr 0 0;

    @media only screen and (min-width: 470px) {
      padding-bottom: 12px;
    }

    @media only screen and (min-height: 600px) {
      grid-template-rows: var(--height) 1fr 112px;
    }

    > .border-window {
      position: absolute;
      bottom: 0;
      height: 100%;
      background-image: url("../images/left.png"), url("../images/right.png");
      background-repeat: no-repeat, no-repeat;
      background-position: bottom left, bottom right;
      clip-path: polygon(0 var(--height), 100% 21px, 100% 100%, 0 100%);
      pointer-events: none;
    }
  }
}

.toolbar {
  overflow: hidden;

  > .container {
    width: 100%;

    .toolbar-left {
      place-items: center;
      background-image: url("../images/toolbar/background.png");

      > div {
        text-wrap: nowrap;
      }

      > div:nth-child(n + 3) {
        display: none;
      }

      @media only screen and (min-width: 346px) {
        grid-template-columns: auto auto auto;

        > div:nth-child(n + 4) {
          display: none;
        }
      }
    }
  }
}
